huggingface-hub==0.2.1
nni==2.6.1
notebook==6.4.7
numpy==1.18.5
pandas==1.0.3
scikit-image==0.19.0
scikit-learn==0.24.2
scipy==1.4.1
seaborn==0.11.0
spacy==3.2.1
spacy-alignments==0.8.4
spacy-legacy==3.0.8
spacy-loggers==1.0.1
spacy-transformers==1.1.4
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-hub==0.12.0
torch==1.8.0+cu111
torch-cluster==1.5.9
torch-geometric==2.0.2
torch-scatter==2.0.9
torch-sparse==0.6.12
torch-spline-conv==1.2.1
torchaudio==0.8.0
torchtext==0.4.0
torchvision==0.9.0+cu111
tqdm==4.62.3
transformers==4.13.0